/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea/workspace.xml
.idea\IIM-2021-A2-WEB1-Allain-Khaine.iml